# Compilados de C
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.dylib
tetris.exe

# Arquivos de depuração
*.log
*.dbg

# Diretórios de build
/build/
bin/
obj/

# VS Code
.vscode/
*.code-workspace

# Arquivos temporários do sistema
*.tmp
*.swp
*.swo
*~
